.topbar {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #48b5e9;
  width: 100%;
  padding: 0 25px;
  height: 10%;
  color: #fff;
}

.addTournamentButton {
  float: left;
  margin-top: 30px;
  width:40px;
  height:40px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:25px;
  font-weight:bold;
  padding-bottom: 5px;
}

.symbol {
  position: relative;
}

.dropdownBtn {
  float: left;
  margin-top:45px;
  position: relative;
  margin-left: 10%;
}

.center {
  float: left;
  color: white;
  margin-left: 10%;
  width: 5%;
  padding: 10px;
}

.alertBtn {
  float: left;
  color: black;
  width: 5%;
  float: left;
  margin-top:45px;
  position: relative;
  margin-left: 15%;
}

.facebookLogin {
  float: left;
  width: 20%;
  float: left;
  margin-top:45px;
  position: relative;
  margin-left: 15%;
}